@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<hr />

@* <EditorJs DefaultEditorValue="EditorValue" EditorValueChanged="OnEditorValueChanged" Tools="EditorTools" Configurations="EditorConfigurations" Class="" Style="border: thin dashed grey; max-height: 40px; padding: 0 10px 0 10px;" /> *@

<hr />

<div class="btn-group" role="group">
    <button type="button" class="btn btn-outline-primary" @onclick="CheckEditorValueAsync">Check Value (Console)</button>
    <button type="button" class="btn btn-outline-primary" @onclick="InvokeInsertAsync">Invoke Insert</button>
</div>

<EditorJs @ref="Editor02" Placeholder="aaazefazefazefzz" @bind-Value="@Valeur" Style="margin-top: 20px; border: thin dashed grey; padding: 0 20px 0 20px;" />
@* <EditorJs DefaultEditorValue="EditorValue02" /> *@
